@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #84CC16;
  /* Lime-500 */
  --primary-dark: #65A30D;
  --secondary: #3B82F6;
  --accent: #F59E0B;
  --background: #F9FAFB;
  --surface: #FFFFFF;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: #1F2937;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Outfit', sans-serif;
}


.container {
  max-width: 1100px;
}